:root {
    --dark-red: #871C15;
    --white: #fff;
    --gray: #3B3B3B;
    --light-gray: #626262;
    --bg-gray: #F4F4F4;
    --input-bg: #F7F7F7;
    --input-border: #D6D6D6;
    --input-placeholder: #B5B5B5;
    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1rem;
}

/* Reset */

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 16px;
    color: var(--gray);
    --webkit-font-smoothing: antialiased;
    --moz-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--dark-red);
}

html, body, h1, h2, h3, h4, h5, button, input, textarea {
    font-family: 'Sanchez', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

button, input, textarea {
    border: 0;
}

body {
    padding-top: 110px; 
}

/* Components */

.tagline {
    font-size: 1rem;
    color: var(--dark-red);
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container--narrow {
    max-width: 1002px;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
    border: 0;
}

.btn {
    padding: 20px 60px;
    border-radius: 5px;
    background-color: var(--dark-red);
    color: var(--white);
    appearance: none;
    border: 0;
    font-size: var(--h3);
    font-style: italic;
}

/* Form */

input, textarea {
    padding: 24px;
    border-radius: 5px;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    display: block;
    width: 100%;
    font-size: 24px;
    outline: none;
}

input {
    line-height: 1;
}

textarea {
    line-height: 1.5;
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
}

/* Navigation */

.navigation {
    display: flex;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    height: auto;
    top: 0; left: 0;
    height: 110px;
    z-index: 999;
}

.navigation__logo {
    width: 314px;
    height: auto;
    padding-right: 70px;
    border-right: 2px solid rgba(0, 0, 0, .5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 26px;
}

.navigation__logo img {
    width: 100%;
    height: auto;
}

.navigation__links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 602px;
}

.navigation__links li {
    /* margin-right: 32px; */
    margin-right: 12px;
}

.navigation__links li:last-of-type {
    margin-right: 0;
}

.navigation__links li a {
    color: var(--light-gray);
}

.navigation__main {
    padding: 15px 32px;
    display: flex;
    flex: 1;
}

.navigation__cta {
    padding: 44px 45px 41px 43px;
    background: var(--dark-red);
    color: var(--white);
    font-size: 1.25rem;
    font-style: italic;
}

/* Hero */

.hero {
    padding-top: 32px;
    margin-bottom: 41px;
}

.hero h1 {
    margin-top: 8px;
    margin-bottom: 13px;
}

.hero .container {
    margin-bottom: 32px;
}

.hero__banner {
    width: 100%;
    height: auto;
    padding-top: 333px;
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero__card {
    padding: 41px 16px 22px;
    background-color: var(--white);
    max-width: 576px;
}

.hero__card p {
    margin-bottom: 8px;
}

/* Facilities */

.facilities {
    padding-bottom: 32px;
}

.facilities__wrapper {
    border-top: 3px solid var(--dark-red);
    padding-top: 16px;
}

.facilities__list {
    list-style: none;
    display: flex;
    margin-left: -34px;
    margin-right: -34px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.facilities__item {
    flex: 0 0 33%;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.facilities__icon {
    width: 20px;
    height: 16px;
    background-color: #e2e2e2;
    margin-right: 12px;
}

/* Accommodation */

.accommodation {
    background-color: var(--bg-gray);
    padding-top: 45px;
    padding-bottom: 47px;
}

.accommodation h2 {
    margin-bottom: 30px;
}

.accommodation__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -9px;
    margin-right: -9px;
}

.accommodation__item {
    padding-left: 9px;
    padding-right: 9px;
    flex: 0 0 33.33%;
    margin-bottom: 18px;
}

.accommodation__item div {
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-color: #e2e2e2;
}

/* Contact */

.contact {
    padding-bottom: 72px;
}

.contact__banner {
    background-image: url(/assets/images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 228px;
    background-color: #eee;
    position: relative;
    margin-bottom: 32px;
}

.contact__card {
    padding: 48px 39px 12px;
    background-color: var(--white);
    max-width: 476px;
    margin-left: auto;
}

.contact__card p {
    margin-bottom: 4px;
}

.contact__card h2 {
    font-size: var(--h1);
}

.contact__content .divider {
    margin-bottom: 56px;
}

.contact__content p {
    margin-bottom: 81px;
}

.contact__cta {
    display: flex;
    margin-left: -19px;
    margin-right: -19px;
}

.contact__info {
    flex: 0 0 38.889%;
    padding-left: 19px;
    padding-right: 19px;
}

.contact__info h3 {
    font-size: var(--h2);
    margin-bottom: 16px;
}

.contact__info p {
    margin-bottom: 32px;
    width: 100%;
    max-width: 255px;
}

.contact__info ul {
    list-style: none;
}

.contact__form {
    flex: 1;
    padding-left: 19px;
    padding-right: 19px;
}

.contact__form input {
    margin-bottom: 32px;
}

.contact__form textarea {
    margin-bottom: 39px;
    min-height: 400px;
}

.contact__form button {
    display: block;
    margin-left: auto;
}

/* Footer */

footer {
    background-image: url('/assets/images/footerphoto.jpg');
    background-size: cover;
    color: var(--white);
    padding-top: 73px;
    padding-bottom: 129px;
}

.navigation-footer {
    color: var(--white);
}

.navigation-footer .navigation__links {
    color: var(--white);
}
